.formulario {
    display: flex;
    justify-content: center;    
    margin: 80px 0

}

.formulario form {
    max-width: 80%;
    background-color: rgba(119, 164, 228, 0.363);
    border-radius: 5px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2);
    padding: 35px;
}